#nav {
  background-color: lime;
 position: relative;
 text-align: center;
}

#nav ul {
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
}

#nav ul li {
  float: left;
  display: block;
}

#nav ul li a {
  display: block;
  background-color: blue;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px 8px 10px;
  
}

#nav ul li a.current {

  background-color: #0099FF;
  color: black;
  font-weight: bold;

}

#nav ul li a:hover {
  font-weight: bold;
}


body {
  font-family: Times;
  background-color: lightgray;
	
}

li {
  font-family: 'Roboto Mono', monospace;
  margin:0px 10px;
  max-width: 90%;
}


strong {
  font-weight: bold;
}

h1 {
  font-family: Impact;
  font-size: 4em;
	
}

h2 {
	
  font-size: 2.5em;
}

h3 {
	
  font-size: 2em;
}

p  {
  position:relative;
  left:30px;
  font-size: 1.1em;
}


em {
  font-style: italic;
  font-weight: bold;
}

img#arrl {
  position:relative;
  left: 30px;
  width: 350px;

}

img#antenna {
  position:relative;
  left: 20%;
  width: 300px;

}

img#satellite {
  position:relative;
  left: 20%;
  width: 300px;

}

img.telescope {
  position:relative;
  left: 30px;
  padding: 0px 0px;
  width: 300px;

}

img.moon {
	
  left: 30px;
	
}

img.stars {
  position:relative;
  left: 30px;
  padding: 0px 0px;
  width: 300px;

}

img.michsky {
  position:relative;
  left: 30px;
  padding: 0px 0px;
  width: 300px;

}

img.chicago {
  position:relative;
  left: 30px;
  padding: 0px 0px;
  width: 300px;

}

img.chicagoedits {
  position:relative;
  left: 40px;
  padding: 0px 0px;
  width: 190px;

}

img#satnogs {
  position:relative;
  left: 35%;
  width: 300px;

}

p#antenacaption{
  left: 20.5%;
}

#satnogsmap {
  position:relative;
  width: 80%;
  left: 13%;

}


.center {
  text-align: center;
}

.infocenter{

  position:relative;
  left: 27%;
  width: 45%;
  height:150%;
  padding: 0.5% 0.3%
	
}

.innerList {
  position:relative;
  left:40px;
}

.programming {
  font-family: 'Press Start 2P', cursive;
}

.caption {
  font-size: 0.8em;
}



@media screen and (min-width: 600px) {
#nav {
 background-color: green;
 position: relative;
 text-align: center;
}

#nav ul li a {
  display: block;
  background-color: blue;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px 8px 10px;
  
}

#nav ul li a.current {

  background-color: lime;
  color: black;
  font-weight: bold;

}


img#arrl {
  position:relative;
  left: 25px;
  width: 475px;

}

img#antenna {
  position:relative;
  left: 25%;
  width: 300px;

}

img#satellite {
  position:relative;
  left: 25%;
  width: 250px;

}

img.telescope {
  position:relative;
  left: 27%;
  padding: 0px 0px;
  width: 300px;

}

img.moon {
	
  left: 27%;
	
}

img.stars {
  position:relative;
  left: 27%;
  padding: 0px 0px;
  width: 300px;

}

img.michsky {
  position:relative;
  left: 27%;
  padding: 0px 0px;
  width: 300px;

}

img.chicago {
  position:relative;
  left: 27%;
  padding: 0px 0px;
  width: 300px;

}

img.chicagoedits {
  position:relative;
  left: 36%;
  padding: 0px 0px;
  width: 190px;

}

p#antenacaption{
  left: 25.5%;
}


}

@media screen and (min-width: 1000px) {
#nav {
 background-color: green;
 position: relative;
 text-align: center;
}

#nav ul li a {
  display: block;
  background-color: blue;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px 8px 10px;
  
}

#nav ul li a.current {

  background-color: lime;
  color: black;
  font-weight: bold;

}

body {
  font-family: Times;
  background-color: gray;
	
}

img#arrl {
  position:relative;
  left: 30px;
  width: 600px;

}

img#antenna {
  position:relative;
  left: 30%;
  width: 300px;

}

img#satellite {
  position:relative;
  left: 30%;
  width: 300px;

}

img.telescope {
  position:relative;
  left: 180px;
  padding: 0px 0px;
  width: 300px;

}

img.moon {
	
  left: 180px;
	
}

img.stars {
  position:relative;
  left: 180px;
  padding: 0px 0px;
  width: 300px;

}

img.michsky {
  position:relative;
  left: 180px;
  padding: 0px 0px;
  width: 300px;

}

img.chicago {
  position:relative;
  left: 30%;
  padding: 0px 0px;
  width: 300px;

}

img.chicagoedits {
  position:relative;
  left: 40px;
  padding: 0px 0px;
  width: 190px;

}

p#antenacaption{
  left: 27.5%;
}


}