#nav {
	background-color: green;
    position: relative;
	text-align: center;
}

#nav ul {
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
}

#nav ul li {
  float: left;
  display: block;
}

#nav ul li a {
  display: block;
  background-color: blue;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 10px 10px 8px 10px;
  
}

#nav ul li a.current {

	background-color: lime;
	color: black;
	font-weight: bold;

}

#nav ul li a:hover {
  font-weight: bold;
}

.clear {
  clear: both;
}

.center {
	text-align: center;
}

.infocenter{
	position:relative;
	left: 27%;
	width: 46%;
	height:150%;
	padding: 0.5% 0.3%
	
}

.innerList {
	position:relative;
	left:40px;
}


body {
	font-family: Times;
	background-color: gray;
	
}

li {
	font-family: 'Roboto Mono', monospace;
	margin:0px 10px;
}


strong {
	font-weight: bold;
}

h1 {
	font-family: Impact;
	font-size: 4em;
	
}

h2 {
	
	font-size: 2.5em;
}

h3 {
	
	font-size: 2em;
}

p  {
	position:relative;
	left:30px;
	font-size: 1.1em;
}

em {
	font-style: italic;
	font-weight: bold;
}